.MuiGrid-root-container{
    margin-top: 200px;
}

.MuiInputBase-input{
    width: 500px;
}

.MuiInputBase-input-text{
    width: 500px;
}

.MuiGrid-root-container-secund{
    margin-top: 20px;
}

.MuiButtonBase-root{
    width: 100px;
}